apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kit-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 4Gi
  selector:
    matchLabels:
      type: kit-pv
