apiVersion: v1
kind: PersistentVolume
metadata:
  name: kit-pv
  labels:
    type: kit-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "kit-volume"
    readOnly: false

